/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

.container{
    margin: auto;
    max-width: 1920px;
}

/* header */
.header{
    background-color: #e579e6;
    min-height: 100px;
    margin-top: 20px;
}